body {
    padding: 20px;
    margin: 0;
}

.Ac a {
    justify-content: space-between;
    background-color:dodgerblue;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 20px;
    position: ;
}
.Ac a:hover {
    color: blue;
}
.SI {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.SI:hover {
background-color: red;
}
.AM {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
ul {
    display: flex;
}

.UC {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.TC {
    color: red;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    margin-top: 40px;
    gap: 20px;
    border-left: 4px solid black;
    padding-left: 30px;
    margin-left: 30px;
    bottom: 40px;
}
.M {
    font-style: italic;
    border-left: 4px solid black;
    padding-left: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
}
footer {
    text-align: center;
}
.SI {
    text-align: center;
    padding-left: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
    /* border-left: ; */
}
h1 {
    color: blue;
    text-align: left;
    padding-left: 30px;
}
.A {
    text-align: left;
    padding-left: 30PX;
    margin-left: 30px;
    border-radius: 5px;
    border-color: dimgrey;
    border: 2px solid dimgray;
    background-color: dimgray;
    color: white;
}
.A:hover{
    transform: translateY(-3px);
}
