body {
    padding: 0;
    margin: 0;
}

.navbar {
    justify-content: space-around;
    background-color: red;
    color: white;
    padding: 10px;
    /* margin: 500; */
    display: flex;
    /* border-radius: 50px; */
}
.AM {
    width: 200px;
    height: 190px;
    display: flex;
    justify-content: space-around;
}
ul {
    display: flex;
}
nav ul li {
    color: white;
    margin: 10px;

}
.UC {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
video {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
.TC {
    color: red;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    margin-top: 40px;
    gap: 20px;
}